<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1 style="text-align: center">уравнение</h1>

<p style="text-align: center">
    <img width="300px" src="/static/cat.png"/></p>

<p style="text-align: center">{{ text }}</p>


<form action="/answer">
    <p style="text-align: center">
        <input name="x"/>

        x +
        <input name="num"/>
        =
        <input name="answ"/>
        <button>Продолжить</button>
    </p>


</form>

</body>
</html>